@inherits LayoutComponentBase

@using BlazorApp.Resume.My.Services
@inject LikeResumeService likeService
@inject NavigationManager UriHelper

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 fixed-top">
        <div>
            <span style="font-family:'Lucida Handwriting'; font-size:18px; font-weight:bolder">THE KODEX</span> &nbsp;&nbsp;
            <a href="/Docs/Kenneth-otoro-resume.pdf" target="_blank" class="btn btn-danger pdf-download"><span class="oi oi-cloud-download"></span> Download PDF</a>
            <label>
                @if (isLiked == true)
                {<button class="btn btn-dark" title="Resume Liked">LIKED <i class="fa fa-check-circle"></i></button> }
                else
                {<button class="btn btn-primary" @onclick="@LikeKEOResume" title="Like this Resume"><i class="fa fa-thumbs-up thump-style"></i></button>}
            </label>
        </div>

    </div>
    @*<div class="bg-light text-center"><NavLink href="contact-me"><span class="oi oi-chat" aria-hidden="true"></span> Contact</NavLink> | <NavLink href="feedback"><span class="oi oi-aperture" aria-hidden="true"></span> Feedback</NavLink></div>*@
    <div class="content px-4">
        @Body
    </div>

    <div class="bottom-row px-4 fixed-bottom">
        <footer class="text-white-50">
            <h5>&copy;2020 - @DateTime.Now.Year | Kodex - Blazor::v2</h5>
        </footer>
    </div>
</div>

@code{

    private bool isLiked = false;

    protected override async Task OnInitializedAsync()
    {
        isLiked = await likeService.IsResmueLiked();
    }


    private async void LikeKEOResume()
    {
        await likeService.LikeResume();
        UriHelper.NavigateTo(UriHelper.Uri, true);
    }

    private async Task<bool> IsLiked() => await likeService.IsResmueLiked();

}
