@page "/my-awards"

<h3><span class="oi oi-aperture"></span> My Awards so far</h3>
<hr />
<div class="card-deck mb-3">
	<div class="card fade-in emboss-style">
		<a href="/Awards/Aptech Staff award.jpg" class="img-style"><img src="/Awards/Aptech Staff award.jpg" style="height:auto; width:100%" class="card-img-top" alt="Aptech Award"></a>
		<div class="card-body">
			<div class="card-title font-weight-bold"><span class="oi oi-aperture"></span> APTECH ACHIEVER AWARD</div>
			<hr />
			<p class="card-text p-5">
				Staff Award 2018
			</p>
		</div>
		<div class="card-footer">
			1<sup>st</sup> November, 2018.
		</div>
	</div>
	<div class="card fade-in emboss-style">
		<a href="/Awards/Cross-sectional picture with Aptech CEO.jpg" class="img-style"><img src="/Awards/Cross-sectional picture with Aptech CEO.jpg" style="height:auto; width:100%" class="card-img-top" alt="Corss-sectional picture"></a>
		<div class="card-body">
			<div class="card-title font-weight-bold"><span class="oi oi-aperture"></span> CROSS-SECTIONAL PIx WITH APTECH CEO</div>
			<hr />
			<p class="card-text p-5">
				Staff Award 2018 Presentation
			</p>
		</div>
		<div class="card-footer">
			1<sup>st</sup> November, 2018.
		</div>
	</div>
	<div class="card fade-in emboss-style">
		<a href="/Awards/Best cordinator.jpg" class="img-style"><img src="/Awards/Best cordinator.jpg" style="height:auto; width:100%" class="card-img-top" alt="Best cordinator"></a>
		<div class="card-body">
			<div class="card-title font-weight-bold"><span class="oi oi-aperture"></span> THE BEST CORDINATOR</div>
			<hr />
			<p class="card-text p-5">
				<strong>Award of Merit:</strong> As the best Cordinator of the 2013/2014 Acedemic Session
			</p>
		</div>
		<div class="card-footer">
			24<sup>th</sup> October, 2014.
		</div>
	</div>
</div>
<div class="card-deck mb-3">
	<div class="card fade-in emboss-style">
		<a href="/Awards/Most dedicated student.jpg" class="img-style"><img src="/Awards/Most dedicated student.jpg" style="height:auto; width:100%" class="card-img-top" alt="Most dedicated student"></a>
		<div class="card-body">
			<div class="card-title font-weight-bold"><span class="oi oi-aperture"></span> THE MOST DEDICATED STUDENT</div>
			<hr />
			<p class="card-text p-5">
				<strong>Certificate of Award:</strong> As the best Most Dedicated student of the 2012/2013 Acedemic Session
			</p>
		</div>
		<div class="card-footer">
			24<sup>th</sup> February, 2014.
		</div>
	</div>
	<div class="card fade-in emboss-style">
		<a href="/Awards/Member of NASS.jpg" class="img-style"><img src="/Awards/Member of NASS.jpg" style="height:auto; width:100%" class="card-img-top" alt="Member of NASS"></a>
		<div class="card-body">
			<div class="card-title font-weight-bold"><span class="oi oi-aperture"></span> MEMBER OF THE NASS</div>
			<hr />
			<p class="card-text p-5">
				<strong>Certificate of Presentation:</strong> Served as a Member of the NASS for the 2012/2013 Acedemic Session
			</p>
		</div>
		<div class="card-footer">
			17<sup>th</sup> January, 2014.
		</div>
	</div>
	<div class="card fade-in emboss-style">
		<a href="/Awards/Nacoss Convention.jpg" class="img-style"><img src="/Awards/Nacoss Convention.jpg" style="height:auto; width:100%" class="card-img-top" alt="NACOSS conventios"></a>
		<div class="card-body">
			<div class="card-title font-weight-bold"><span class="oi oi-aperture"></span> NACOSS NATIONAL CONVENTION, 2014</div>
			<hr />
			<p class="card-text p-5">
				<strong>Certificate of Participation:</strong> Participated in NACOSS National Convention, 2014.
			</p>
		</div>
		<div class="card-footer">
			13<sup>th</sup> September, 2014.
		</div>
	</div>
</div>
<div class="card-deck mb-3">
	<div class="card fade-in emboss-style">
		<a href="/Awards/Application development.jpg" class="img-style"><img src="/Awards/Application development.jpg" style="height:auto; width:100%" class="card-img-top" alt="Application development"></a>
		<div class="card-body">
			<div class="card-title font-weight-bold"><span class="oi oi-aperture"></span> APPLICATION DEVELOPMENT</div>
			<hr />
			<p class="card-text p-5">
				<strong>Certificate of Proficiency:</strong> A successful completion of the computer course in Application Development in Visual Basic.
			</p>
		</div>
		<div class="card-footer">
			25<sup>th</sup> June, 2011.
		</div>
	</div>
</div>

@code {

}
