@page "/my-experiences"

<h3 class="mt-3"> <span class="oi oi-cog"></span> My Experience so far</h3>

<div class="fade-in">
	<div class="row">
		<div class="col-6">
			<img src="/images/Exp1.jpg" style="height:auto; width:100%" />
		</div>
		<div class="col-6">
			<img src="/images/Exp2.jpg" style="height:auto; width:100%" />
		</div>
	</div>
	<hr />
	<div class="accordion" id="accordionExperience">
		<div class="card">
			<div class="card-header" id="headingSix">
				<h2 class="mb-0">
					<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
						Software Developer &clubs; [First Bank Nig. Ltd (Consultant)]  <span class="float-right">02/2021 - Present</span>
					</button>
				</h2>
			</div>
			<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExperience">
				<div class="card-body">
					<h3>My roles and responsibilities</h3>
					<div class="row">
						<div class="col-9">
							<div class="breadcrumb bg-info text-white">
								<ul style="list-style:none" class="p-3">
									<li><h5 class="oi oi-cog"> Software development.</h5></li>
									<li><h5 class="oi oi-cog"> Microservices development</h5></li>
									<li><h5 class="oi oi-cog"> Clean coding and architectural best practices</h5></li>
									<li><h5 class="oi oi-cog"> SOLID principle and design pattern best practices</h5></li>
									<li><h5 class="oi oi-cog"> Code reviewing and refactoring</h5></li>
									<li><h5 class="oi oi-cog"> DevOps best practices</h5></li>
									<li><h5 class="oi oi-cog"> Third-Party/External services integration and implementation</h5></li>
									<li><h5 class="oi oi-cog"> Team Lead in-the-making</h5></li>
								</ul>
							</div>
						</div>
						<div class="col-3">
							<img src="/images/firstBanl.png" style="height:auto; width:100%" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingOne">
				<h2 class="mb-0">
					<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						Software Developer &clubs; [SDSD Prestige Limited • Otta, Lagos]  <span class="float-right">10/2019 - 02/2021</span>
					</button>
				</h2>
			</div>
			<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExperience">
				<div class="card-body">
					<h3>My roles and responsibilities</h3>
					<div class="row">
						<div class="col-9">
							<div class="breadcrumb bg-info text-white">
								<ul style="list-style:none" class="p-3">
									<li><h5 class="oi oi-cog"> Adding new functionalities or features to the company's enterprise application (MAMS).</h5></li>
									<li><h5 class="oi oi-cog"> Fixing of bugs and issues highlighted on the enterprise application as reported by clients via the testers/quality assurance engineers.</h5></li>
									<li><h5 class="oi oi-cog"> Contributing to the development of the mobile version of the enterprise application using XAMARIN.</h5></li>
									<li><h5 class="oi oi-cog"> Guiding junior developers in resolving contended issues where they are stuck and whenever necessary.</h5></li>
									<li><h5 class="oi oi-cog"> Assisting in performing interviews one-behalf of the organization.</h5></li>
									<li><h5 class="oi oi-cog"> Performing code reviews.</h5></li>
								</ul>
							</div>
						</div>
						<div class="col-3">
							<img src="/images/sdsd.jpg" style="height:auto; width:100%" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingTwo">
				<h2 class="mb-0">
					<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						Software Developer &clubs; [Consorzio Technologies Limited | First Bank Nig. Ltd (Contract) • Marina, Lagos]  <span class="float-right">05/2019 - 09/2019</span>
					</button>
				</h2>
			</div>
			<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExperience">
				<div class="card-body">
					<h3>My roles and responsibilities</h3>
					<div class="row">
						<div class="col-9">
							<div class="breadcrumb bg-info text-white">
								<ul style="list-style:none" class="p-3">
									<li><h5 class="oi oi-cog"> Made few changes on Web services that are interacting with FirstBank of Nigeria client.</h5></li>
									<li><h5 class="oi oi-cog"> Involved in code analysis.</h5></li>
								</ul>
							</div>
						</div>
						<div class="col-3">
							<img src="/images/firstBanl.png" style="height:auto; width:100%" />
							<img src="/images/consorziotech.png" style="height:auto; width:100%" class="mt-3" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingThree">
				<h2 class="mb-0">
					<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						Software QA Engineer &clubs; [Supermart.ng • Victorial Island, Lagos]  <span class="float-right">01/2019 - 06/2019</span>
					</button>
				</h2>
			</div>
			<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExperience">
				<div class="card-body">
					<h3>My roles and responsibilities</h3>
					<div class="row">
						<div class="col-9">
							<div class="breadcrumb bg-info text-white">
								<ul style="list-style:none" class="p-3">
									<li><h5 class="oi oi-cog"> Performed software testing.</h5></li>
									<li><h5 class="oi oi-cog"> To ensure that, the software meets the user's requirements.</h5></li>
									<li><h5 class="oi oi-cog"> To ensure that, the Application Under Test (AUT) meets the Software Requirement Specifications (SRS).</h5></li>
									<li><h5 class="oi oi-cog"> To ensure that, the software is in line with the Business Requirement Document (BRD).</h5></li>
									<li><h5 class="oi oi-cog"> Ensuring Software Products are free from bugs/errors.</h5></li>
								</ul>
							</div>
						</div>
						<div class="col-3">
							<img src="/images/supermart.png" style="height:auto; width:100%" class="mt-5" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingFour">
				<h2 class="mb-0">
					<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
						Head Faculty | Software Developer &clubs; [Aptech Computer Education • Asabas, Delta]  <span class="float-right">10/2017 - 12/2018</span>
					</button>
				</h2>
			</div>
			<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExperience">
				<div class="card-body">
					<h3>My roles and responsibilities</h3>
					<div class="row">
						<div class="col-9">
							<div class="breadcrumb bg-info text-white">
								<ul style="list-style:none" class="p-3">
									<li><h5 class="oi oi-cog"> Developed software to organize the activities of Aptech Asaba from a manual system to an automated system; a record management system.</h5></li>
									<li><h5 class="oi oi-cog"> An intranet Computer Based Test (CBT) application was developed for Aptech during the I.T. School of the Year program, 2018.</h5></li>
									<li><h5 class="oi oi-cog"> A desktop (stand-alone) application: Aptech automatic ID generation system for both staff and students were developed.</h5></li>
								</ul>
							</div>
						</div>
						<div class="col-3">
							<img src="/images/aptech.jpg" style="height:auto; width:100%" class="mt-5" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingFive">
				<h2 class="mb-0">
					<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
						IT Specialist | Webmaster &clubs; [Temodoug Nig. Co. Ltd | Pogremos Services Ltd. • Warri, Delta]  <span class="float-right">01/2017 - 10/2017</span>
					</button>
				</h2>
			</div>
			<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExperience">
				<div class="card-body">
					<h3>My roles and responsibilities</h3>
					<div class="row">
						<div class="col-9">
							<div class="breadcrumb bg-info text-white">
								<ul style="list-style:none" class="p-3">
									<li><h5 class="oi oi-cog"> Developed two websites for the company: (https://www.temodoug.com, https://www.pogremos.com)</h5></li>
									<li><h5 class="oi oi-cog"> Managing and maintaining websites.</h5></li>
									<li><h5 class="oi oi-cog"> Ensured all I.T. related issues are resolved.</h5></li>
									<li>
										<h5 class="oi oi-cog"> Invovled in system adminstration related issues, such as:</h5>
										<ol>
											<li>Ensuring that all systems are working perfectly.</li>
											<li>Ensured that all systems are virus-free by installing anti-virus packages.</li>
											<li>Ensured all systems are interconnected via a network.</li>
										</ol>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-3">
							<img src="/images/temodoug.jpg" style="height:auto; width:100%" />
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
@code {

}
