@page "/"


<div>
	<div class="text-center">
		<img class="rounded-circle img-thumbnail" src="/images/Me.jpg"  style="height:auto; width:200px" />
	</div>
	<hr />
	<div class="rounded">
		<div class="align-content-between">
			<h4 class="border-bottom-0">My Philosophy</h4>
			<blockquote class="blockquote jumbotron">Until you have learned to help others, you will never understand the essence of living.</blockquote>
			<a href="about-me" class="btn btn-outline-primary rounded-pill h3"> Learn more about me...</a>
		</div>
	</div>
</div>

<div class="card-deck mb-3">
	<div class="card">
		<img src="/images/brain.jpg" style="height:auto; width:100%" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title"><span class="oi oi-cog"></span> Experience</h5>
			<p class="card-text">
				I have always been amazed by how much computers can help automate and systemize simple tasks. For the last 5 years, I had elaborate experience in the software development ecosystem.
			</p>
			<hr />
			<div class="container-fluid mt-2"><a href="my-experiences" class="btn btn-outline-info rounded-pill h3">Continue reviewing &raquo;</a></div>
		</div>
	</div>
	<div class="card">
		<img src="/images/skills.jpg" class="card-img-top" style="height:100%; width:100%" />
		<div class="card-body">
			<h5 class="card-title">	<span class="oi oi-key"></span> Skills</h5>
			<p class="card-text">
				<blockquote class="font-italic">“Man often becomes what he believes himself to be. If I keep on saying to myself that I cannot do a certain thing, it is possible that I may end by really becoming incapable of doing it. On the contrary, if I have the belief that I can do it, I shall surely acquire the capacity to do it even if I may not have it at the beginning.”</blockquote>
				<h4 class="font-weight-bold">― Mahatma Gandhi ―</h4>
			</p>
			<hr />
			<div class="container-fluid mt-2"><a href="my-skills" class="btn btn-outline-info rounded-pill h3">Explore more &raquo;</a></div>
		</div>
	</div>
	<div class="card">
		<img src="/images/edu.jpg" class="card-img-top" style="height:auto; width:100%"/>
		<div class="card-body">
			<h5 class="card-title"><span class="oi oi-book"></span> Education</h5>
			<p class="card-text">
				<blockquote class="font-italic">“Education is a progressive discovery of our own ignorance.”</blockquote>
				<h4 class="font-weight-bold">― Will Durant ―</h4>
			</p>
			<hr />
			<div class="container-fluid mt-2"><a href="education" class="btn btn-outline-info rounded-pill h3">Keep reviewing &raquo;</a></div>
		</div>
	</div>
</div>

<div class="card-deck mb-3">
	<div class="card">
		<img src="/images/tech.jpg" style="height:auto; width:100%" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">	<span class="oi oi-wrench" aria-hidden="true"></span> Technologies</h5>
			<p class="card-text">
				<blockquote class="font-italic">“The advance of technology is based on making it fit in so that you don't really even notice it, so it's part of everyday life.”</blockquote>
				<h4 class="font-weight-bold">― Bill Gates ―</h4>
</p>
			<hr />
			<div class="container-fluid mt-2"><a href="technologies-in-use" class="btn btn-outline-info rounded-pill h3">Hey! check it out &raquo;</a></div>
		</div>
	</div>
	<div class="card">
		<img src="/images/interest.jpg" class="card-img-top" style="height:auto; width:100%" />
		<div class="card-body">
			<h5 class="card-title">	<span class="oi oi-fork" aria-hidden="true"></span> Interest</h5>
			<p class="card-text">
				The fire burining in me to impart into generations and change the world with software. My passion for programming and coding came as a result of my interest in it.
			</p>
			<hr />
			<div class="container-fluid mt-2"><a href="interests" class="btn btn-outline-info rounded-pill h3">What do you expect? &raquo;</a></div>
		</div>
	</div>
	@*<div class="card">
		<img src="/images/portfolio.png" class="card-img-top" style="height:auto; width:100%" />
		<div class="card-body">
			<h5 class="card-title"><span class="oi oi-flag"></span> Portfolio</h5>
			<p class="card-text">
				<blockquote class="font-italic">“It became clear to me that our value as people is not in our stock portfolios and bank accounts but in the legacies we leave behind.”</blockquote>
				<h4 class="font-weight-bold">― Julia Butterfly Hill ―</h4>
			</p>
			<hr />
			<div class="container-fluid mt-2"><a href="my-portfolio" class="btn btn-outline-info rounded-pill h3">Hop in &raquo;</a></div>
		</div>
	</div>*@
</div>